.animated {
  animation-duration: var(--animate-duration);
  animation-fill-mode: both;

  &.delay-1s {
    animation-delay: var(--animate-delay);
  }

  &.delay-2s {
    animation-delay: calc(var(--animate-delay) * 2);
  }

  &.delay-3s {
    animation-delay: calc(var(--animate-delay) * 3);
  }

  &.delay-4s {
    animation-delay: calc(var(--animate-delay) * 4);
  }

  &.delay-5s {
    animation-delay: calc(var(--animate-delay) * 5);
  }

  &.faster {
    animation-duration: calc(var(--animate-duration) / 2);
  }

  &.fast {
    animation-duration: calc(var(--animate-duration) * 0&.8);
  }

  &.slow {
    animation-duration: calc(var(--animate-duration) * 2);
  }

  &.slower {
    animation-duration: calc(var(--animate-duration) * 3);
  }

  &.infinite {
    animation-iteration-count: infinite;
  }

  &.repeat-1 {
    animation-iteration-count: var(--animate-repeat);
  }

  &.repeat-2 {
    animation-iteration-count: calc(var(--animate-repeat) * 2);
  }

  &.repeat-3 {
    animation-iteration-count: calc(var(--animate-repeat) * 3);
  }
}

// Fade in left
@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-10%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
}

// Fade in left v2
@keyframes fadeInLeft2 {
  from {
    opacity: 0;
    transform: translate3d(-40%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft2 {
  animation-name: fadeInLeft2;
}

@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }

  2.5%,
  5% {
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, -6deg);
  }

  6%,
  12.5%,
  17.5%,
  22.5% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, 6deg);
  }

  10%,
  15%,
  20% {
    transform: scale3d(1.2, 1.2, 1.2) rotate3d(0, 0, 1, -6deg);
  }

  23%,
  100% {
    transform: scale3d(1, 1, 1);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  animation-name: tada;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}
