@import 'font';
@import 'font-icon';
@import 'animated';

html {
  // scroll-behavior: smooth;
  // scrollbar-width: thin;
  scrollbar-color: hsla(var(--color-bg-base), 17%, 90%);
}

// Scroll
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: hsl(var(--color-bg-base), 21%);
}
::-webkit-scrollbar-thumb {
  background-color: hsl(var(--color-bg-base), 37%);
  border: 1px solid var(--color-bg-border);
  border-radius: 10px;
}

// Text selection
::-moz-selection {
  color: hsl(var(--color-acent-base), 74%);
  background: hsla(var(--color-acent-base), 70%, 16%);
}

::selection {
  color: hsl(var(--color-acent-base), 74%);
  background: hsla(var(--color-acent-base), 70%, 16%);
}

// Globals
body {
  background-color: var(--color-bg);
  box-shadow: inset 0 0 0 1rem hsl(var(--color-bg-base), 21%);
  color: var(--color-fg);
  font-family: var(--font-family-body);
  font-size: inherit;
  font-weight: normal;
  line-height: var(--font-lineheight-base);
}

#q-app {
  padding: 0 0rem;

  &::after,
  &::before {
    content: '';
    height: 1rem;
    width: 100%;
    background: hsl(var(--color-bg-base), 21%);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 10;
  }

  &::before {
    bottom: 0px;
    top: inherit;
  }
}

h1 {
  font-size: var(--font-size-xl);
  font-family: var(--font-family-title);
  font-weight: normal;
  margin: var(--space-32) 0;
  line-height: var(--font-lineheight-md);
  letter-spacing: 0.05rem;
}
h2 {
  font-size: var(--font-size-lg);
  font-weight: 100;
  font-family: var(--font-family-title);
  margin: var(--space-32) 0;
  transition: all 0.3s ease-in-out;
  color: hsl(var(--color-acent-base), 84%);
  line-height: var(--font-lineheight-md);
  letter-spacing: 0.05rem;
}
h3 {
  font-size: var(--font-size-md);
  margin: var(--space-8) 0;
  color: hsl(var(--color-acent-base), 84%);
  line-height: var(--font-lineheight-md);
  font-weight: 300;
  letter-spacing: normal;
}

p,
ul,
ol {
  font-family: var(--font-family-body);
  font-size: var(--font-size-base);
  line-height: var(--font-lineheight-lg);
}

ul {
  list-style: disc;
  list-style-position: outside;
  margin: 1rem 0;
  padding: 0 0 0 1rem;

  ul {
    padding: 0 0 0 2.65rem;
    margin: 0;
  }
}

ol {
  list-style: none;
  counter-reset: li;
  margin: 1rem 0;

  ol {
    margin: 0;
  }

  li {
    position: relative;

    &::before {
      position: absolute;
      left: -2.65rem;
      counter-increment: li;
      content: counter(li, decimal-leading-zero) '.';
      color: hsl(var(--color-acent-base), 74%);
    }
  }
}

hr {
  border: none;
  border-top: 1px solid hsla(var(--color-acent-base), 74%, 50%);
  height: 0.25rem;
  border-bottom: 1px solid hsla(var(--color-acent-base), 74%, 50%);
  margin: 1rem 0;
}

small {
  font-size: var(--font-size-sm);
  line-height: var(--font-lineheight-base);
}

.container,
main.q-page {
  max-width: 100%;
  padding: 0 1rem;
  margin: auto;
}

.container {
  width: 1100px;
}

a {
  color: hsl(var(--color-acent-base), 74%);
  text-decoration: none;
  transition: var(--transition);
  display: inline-block;

  &.link::after {
    content: '';
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    bottom: 0;
    background-color: hsl(var(--color-acent-base), 74%);
    transition: var(--transition);
    opacity: 0.5;
  }
  &.link:hover::after {
    width: 100%;
  }
}

/* Transitions */
.transition {
  transition: var(--transition);
}

// Scale
.hover-scale1:hover {
  transform: scale(1.01, 1.01);
  box-shadow: var(--box-shadow-sm);
}
.hover-scale2:hover {
  transform: scale(1.02, 1.02);
  box-shadow: var(--box-shadow-md);
}

.number {
  font-family: var(--font-family-body);
}

// Global dialogs
.dialog-card {
  background-color: hsl(var(--color-bg-base), 17%);
  width: fit-content;
  padding: 0px;
  position: relative;

  .dialog-card-bar {
    z-index: 2;
    width: 100%;
    top: 0px;
    left: 0px;

    .q-btn {
      background-color: var(--color-complement);
      color: black;
    }
  }

  .dialog-card-content {
    background-color: #000;
    background-image: url('/imgs/loading.gif');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30%;
    padding: 0px;
    overflow: auto;
    height: calc(100% - 32px);
    text-align: center;

    img {
      max-width: 100%;
      height: auto;
    }
  }
}

.tag {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--color-fg);
  display: inline-block;
  padding: 1px 1rem 0 1.5rem;
  border-radius: 0.25rem;
  position: relative;
  display: inline-block;
  box-shadow: 1px 1px 2px rgba(1, 0, 14, 0.1);

  &::before {
    content: '';
    height: 8px;
    width: 8px;
    background: hsl(var(--color-bg-base), 17%);
    position: absolute;
    border-radius: 5px;
    margin-top: -4px;
    left: 8px;
    top: 50%;
  }
}
