@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Canela Deck';
  src: local('CanelaDeck-Regular'),
    url('/fonts/canela/CanelaDeck-Regular.woff2') format('woff2'),
    url('/fonts/canela/CanelaDeck-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Deck';
  src: local('CanelaDeck-Bold'),
    url('/fonts/canela/CanelaDeck-Bold.woff2') format('woff2'),
    url('/fonts/canela/CanelaDeck-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Canela Deck';
  src: local('CanelaDeck-Light'),
    url('/fonts/canela/CanelaDeck-Light.woff2') format('woff2'),
    url('/fonts/canela/CanelaDeck-Light.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plane';
  src: url('/fonts/plane/Plane-Bold.woff2') format('woff2'),
    url('/fonts/plane/Plane-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plane';
  src: url('/fonts/plane/Plane-Light.woff2') format('woff2'),
    url('/fonts/plane/Plane-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Plane';
  src: url('/fonts/plane/Plane.woff2') format('woff2'),
    url('/fonts/plane/Plane.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
