$raisin-black:    #222635;
$raisin-black-2:  #262a3b;
$raisin-black-3:  #1e212f;
$azure:           #007eff;
$ghost-white:     #e6e8ef;
$green:           #72f9c8;
$red:             #f3a0bc;
$yellow:          #fff6b5;
$purple:          #bda2e8;
$blue:            #8edfff;

// Quasar default colors
$primary:         $azure;
$secondary:       #72F9C8;
$accent:          #AF59FC;

$dark:            #1D1D1D;
$dark-page:       #303037;

$positive:        $green;
$negative:        $red;
$info:            $blue;
$warning:         $yellow;


:root {
  /* Colors */
  --color-bg:           hsl(var(--color-bg-base), 17%);
  --color-bg-base:      227, 22%; // #222635

  --color-acent:        hsl(var(--color-acent-base), 50%);
  --color-acent-base:   210, 100%; // #007eff

  --color-fg:           hsl(var(--color-acent-base), 92%);

  --color-green:        #72f9c8;
  --color-red:          #f3a0bc;
  --color-yellow:       #fff6b5;
  --color-purple:       #bda2e8;
  --color-blue:         #8edfff;


    /* Fonts */
  --font-family-title: 'Canela Deck', serif;
  --font-family-body: 'Plane', sans-serif;


  // FONTS SIZES
  // Base: 16min-18max
  // More info: https://www.fluid-type-scale.com/calculate?minFontSize=16&minWidth=400&minRatio=1.125&maxFontSize=18&maxWidth=1280&maxRatio=1.25&steps=sm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=font-size&decimals=4&useRems=on&remValue=16&previewFont=Inter
  --font-size-sm: clamp(0.8889rem, 0.0202vw + 0.8838rem, 0.9rem);
  --font-size-base: clamp(1rem, 0.2273vw + 0.9432rem, 1.125rem);
  --font-size-md: clamp(1.125rem, 0.5114vw + 0.9972rem, 1.4063rem);
  --font-size-lg: clamp(1.2656rem, 0.8949vw + 1.0419rem, 1.7578rem);
  --font-size-xl: clamp(1.4238rem, 1.4063vw + 1.0723rem, 2.1973rem);
  --font-size-xxl: clamp(1.6018rem, 2.0814vw + 1.0815rem, 2.7466rem);
  --font-size-xxxl: clamp(1.802rem, 2.9658vw + 1.0606rem, 3.4332rem);


  /* Leading */
  --font-lineheight-sm: 0.8;
  --font-lineheight-base: 1;
  --font-lineheight-md: 1.2;
  --font-lineheight-lg: 1.4;
  --font-lineheight-xl: 1.6;
  --font-lineheight-xxl: 1.8;
  --font-lineheight-xxxl: 2;


  /* Spacing */
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;
  --space-48: 3rem;
  --space-64: 4rem;
  --space-80: 5rem;
  --space-96: 6rem;
  --space-128: 8rem;
  --space-160: 10rem;


  /* Border radius */
  --border-radius-sm: 0.25rem;
  --border-radius-base: 0.5rem;
  --border-radius-lg: 1rem;


  /* Box Shadows */
  --box-shadow-sm:
    0 0.1rem 1rem hsl(var(--color-bg-base), 16%);
  --box-shadow-md:
    0 0.25rem 0.5rem hsl(var(--color-bg-base), 15%);


  /* globals */
  --header-height: 50px;
  --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);

  // Animated
  --animate-duration: 1s;
  --animate-delay: 1s;
  --animate-repeat: 1;

}



